body{
    padding: 0;
    margin:0;
}

footer{
    padding: 70px 20px 50px 20px;
    margin-top:60px;
    background-color:rgba(255, 255, 0, 0.885);
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3em;
}
footer div .primero{
    float:left;
    font-size: 12px;
}

img{
    height: 25px;
}

.escudo{
    height: 150px;
    transition: transform 0.5s;
    align-self: center;

}
.escudo:hover{
    transform: scale(1.2);
}

.info .dominio,
.info .direccion,
.info .telefono,
.info .email {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
